/* ================
*	FOOTER
*  ================ */



.panel-group{
	.panel{
		background: none;
		border: 0;
		box-shadow: none;
		

		&.panel-default{
			
			> .panel-heading{
				background: $red;
				@include border-radius(5px);

				.panel-title{
					color: $yellow;
				}
		 	}

		 	.form-group{
		 		.form-control{
		 			background: none;
		 			border-color:$brown;
		 		}
		 	}

		} 
	}
} 


/* ================
*	MEDIA QUERIES
*  ================ */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

	
} /*  End Small */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 


} /*  End Medium */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

	
} /*  End Large */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1441px) { 
	

}

/* ================
*	DEVICES
*  ================ */
