/* ================
*	FAMILY
*  ================ */

.intro{
	text-align: center;
	.img-responsive{
		margin: 0 auto;
	}

	img{
		border: 0px solid #fff;
	   	@include border-radius(0px);
		@include box-shadow(0,0,0);
	}
}


.prod-list{
	margin-top: 40px;

	.post{
		background: $white-y;
		margin-bottom: 20px;
		@include border-radius(8px);
		@include box-shadow(0,0,5px,rgba(0,0,0,0.2));
		padding: 20px;
		text-align: center;



	}

	.thumb{
		max-width: 120px;
		margin: 0 auto;
		img{
			border: 0px solid #fff;
		   	@include border-radius(0px);
			@include box-shadow(0,0,0);
		}
	}







}

#prdslist{
	.intro{
		img{
			border: 0px solid #fff;
		   	@include border-radius(0px);
			@include box-shadow(0,0,0);
		}
	}
}


/* ================
*	MEDIA QUERIES
*  ================ */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.intro{
		.desc{
			padding-top: 40px;
		}
	}
	

	.prod-list{
		margin-top: 80px;

		.post{
			background: transparent url(../img/d/giay.png) repeat-y right top;
			margin-bottom: 60px;
			@include border-radius(0px);
			@include box-shadow(5px,5px,5px,rgba(0, 0, 0, 0.1));
			padding: 30px 60px 40px 20px;
			text-align: center;

				.thumb{
					float: left;
					max-width: 220px;
					/*top: -100px;
					position: absolute;*/
				}

				.content{
					float: right;
					width: 60%;
					text-align: left;

					.title{
						font-size:40px;
						line-height:1.2;
					}

					.more {
						margin-top:30px;
						padding-left:15px;
						padding-right:15px;
					}
				}

			
			&.alternate{
				background: url(../img/d/giayvang.png) repeat-y top left;
				padding: 30px 20px 40px 60px;
				
				.thumb{
					float: right;
				}

				.content{
					
					float: left;
				}

			}	

		}

	}



} /*  End Small */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.intro{
		.desc{
			padding-top: 80px;
			text-align: left;
		}
	}	

	.prod-list{
		.content{
			.title{
				font-size: 3em;
				line-height: 1.2
			}


		}

	}




} /*  End Medium */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

	
} /*  End Large */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1441px) { 
	

}

/* ================
*	DEVICES
*  ================ */
