/* ================
*	FOOTER
*  ================ */

#footer{
	font-family: 'utm_bebasregular', sans-serif ;
	
	background:$white-y url(../img/d/footer.jpg) repeat center top;
	color: $yellow2;
	padding: 20px 0 10px;
	text-transform: uppercase;
	text-align: center;
	
	font-size: 14px;
	font-weight:normal;

	p{
	margin-bottom:0;
	}


	.inline-list{
		> li{
			display: inline-block;
			padding: 5px;

			a{
				color: $yellow2;
			}			
		}
	}

	.social {
		a{
			display: block;
			width: 40px;
			height: 40px;

			img{
				max-width: 100%;
				width: 100%;
			}
		}
	}	


}


/* ================
*	MEDIA QUERIES
*  ================ */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

	#footer{

		.social{
			.inline-list{
				> li{
					float: left;
				}
			}
		}

	}


	
} /*  End Small */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	#footer{

		.copyright{
			text-align: right;

			p{padding-top:10px;}

			.col-sm-10{
				border-right:2px solid $white-y;
			}
			.inline-list{
				> li{
					
				}
			}

			ul{
				margin-bottom: 0;
				overflow: hidden;
			}

			.nestle{
				margin-top: 15px;
				display: block;
			}

		}

		.social{

			padding-left: 40px;

			.ct{
				overflow: hidden;
				border-left: 2px solid $white-y;
				padding-left: 20px;
				width: 150px;
				margin-left: 10px;

				img{
					float: left;
					margin-right: 10px;
					width: 40px;
				}

				span{
					display: block;
					float: left;
					font-size: 16px;
    				padding-top: 10px;
				}	
			}

		}


	}

} /*  End Medium */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

		#footer{
			.copyright{
				.nestle{
					margin-top: 8px;
					display: block;
				}
			}
		}
	
} /*  End Large */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1441px) { 
		#footer{
			.copyright{
				.nestle{
					margin-top: 0px;
					display: block;
				}
			}
		}

}

/* ================
*	DEVICES
*  ================ */
