/* ================
*	FORUM
*  ================ */

.question{
	
	margin-bottom:40px;

	.avatar{
		width: 80px;
		height: 80px;
		overflow:hidden;
		border: 5px solid $yellow;
		@include border-radius(50%);
	}

	.loadmore{
		color: $red;
		text-decoration: underline;
		font-size: 16px;
		text-align: center;
	}

	.text-reply{
		margin-top: 20px;


		textarea{
			width: 100%;
			@include border-radius(8px);
			border:1px solid $brown-dark;
			padding: 5px;
			margin-bottom: 10px;
		}
	}


	.question-wrap{
		background: $white-y;
		@include border-radius(8px);
		@include box-shadow(5px,5px,5px,rgba(0, 0, 0, 0.1));
		padding: 20px;

		position: relative;
		z-index: 10;
	}

	.replies{
		background: #fff;
		@include border-radius(8px);
		position: relative;
		z-index: 1;
		padding: 50px 20px 20px;
		top: -20px;
		margin-left: 10px;
		margin-right: 10px;

		display: none;


		.avatar{
			float: left;
			width: 60px;
			height: 60px;
			margin-right: 20px;
			margin-bottom: 40px;
		}

		.content{
			

		}

		.reply{
			font-size: 12px;
			overflow: hidden;
			margin-bottom: 20px;
			.author{
				font-size: 18px;
				font-family: 'utm_bebasregular', sans-serif ;
			}
		}
		
	}



}


/* ================
*	MEDIA QUERIES
*  ================ */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

	/* ================
	*	FORUM
	*  ================ */
	#forum-list{
		min-height: 600px;
	}
	
	.question{

		.question-wrap{
			background: url(../img/d/giayvang.png) repeat-y top left;

			@include border-radius(0);
		

			.avatar{
				float: left;
				margin-right: 10px;
			}	
			.desc{
				float: left;
				width: 75%;
				font-size:14px;

				.author{
					margin-top: 0;
				}
			}
			.action{
				overflow: hidden;
				text-align: right;

			}
		}



		.replies{
			.content{
			float: left;
			width: 75%;
			}
		}
	}
	
} /*  End Small */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	/* ================
	*	FORUM
	*  ================ */

	.question{

		margin-bottom: 40px;

		.question-wrap{

			padding-left: 60px;
			padding-top: 40px;

			.avatar{
				float: left;
				margin-right: 10px;
				width: 100px;
				height: 100px;
			}	

			.desc{
				float: left;
				width: 75%;
				.author{
					margin-top: 0;

				}
			}

			.action{
				overflow: hidden;
				text-align: right;

			}
		}


		.replies{
			margin-left: 50px;
    		margin-right: 20px;
    		padding-left: 25px;
		}

	}




} /*  End Medium */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

	
} /*  End Large */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1441px) { 
	

}

/* ================
*	DEVICES
*  ================ */
