/* ================
*	HEADER
*  ================ */

.navbar-default{
	border: 0;
	/*background:$yellow;	*/
	background:#fff600;	
	@include border-radius(0);
	margin-bottom: 0;

	.navbar-brand,.navbar-brand:hover,.navbar-brand:focus{
		display: block;
	    height: 100px;	    
	    width: 100px;
		/*background: $yellow;*/
		text-align: center;

	
		img{
			width: 80px;
			margin: 0 auto;
		}
	}

	#mmenubtn{
		border-color: $yellow;
		background: $yellow;
		color: $brown;
	    display: block;
	    float: right;
	    font-size: 30px;
	    height: 50px;
	    line-height: 48px;
	    margin-top: 15px;
	    text-align: center;
	    width: 50px;
	    @include border-radius(5px);

	}
	.navbar-nav {
		> li {
			> a, a:hover, a:active, a:focus{
				color: $brown-dark;
			}
		}

		> .active{
			a, a:hover, a:focus{
				background:none;
				color: $brown-dark;
			}
		}
	}


}

/* ================
*	NAVIGATION
*  ================ */





.nav-menu{

	li{

		a{
			display: block;
			text-align: center;
			padding:8px ;
			
			span{
				display: block;

				&.nav-img{
					img{
						width: 100%;
						max-width: 50px;
					}
				}

			}
		}
	}
}


/* ================
*	USER NAV
*  ================ */
.nav-user{
	margin-top: 20px;

	.avatar{
		width: 50px;
		height: 50px;
		@include border-radius(50%);
		border: 2px solid white;

		float: left;
		margin-right: 10px;

		img{
			width: 100%;
			max-width: 100%;
		}
	}

	.info{
		float: left;
		font-size: 0.8em;

		span{
			display: block;
		}

		&.logged{
			padding-top: 10px;
			.user{
				margin-bottom:0px;

				span{
					display:inline;
					font-size:1.2em;
					text-transform :uppercase;
					font-family: 'utm_bebasregular', sans-serif ;
				}
			}
			a{
				line-height:1.3;
				display:block ;
			}
		}

	}
} 


#mm-0{
	span{
		&.nav-img{
			width: 40px;
			display: inline-block;
			img{
				width: 100%;
			}
		}
		&.nav-name{
			line-height: 60px;
			padding-left: 10px;
		}
	}

	.mmclose{
		line-height: 50px;
		text-align: center;
	}
}
.mm-menu{
	background: $yellow;
}


html.mm-opening .mm-slideout {
  /*  box-shadow: 10px 0 15px #000;*/
  @include box-shadow(10px,0px,15px,rgba(0,0,0,.5));
}

.forUser{
	.avatar{
		width: 90px;
		height: 90px;
		overflow: hidden;
		margin: 0 auto 20px;

		img{
			width: 100%;
		}
	}

}



/* ================
*	MEDIA QUERIES
*  ================ */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

	/* ================
	*	HEADER
	*  ================ */
	#header{
		background: url(../img/d/bgvang.png) repeat-x bottom left;
		padding-bottom: 4px;
		position: fixed;
    	z-index: 1000;
    	left: 0;
    	top: 0;
    	width: 100%;
	}


	.navbar-default{
		border: 0;	

		.navbar-brand,.navbar-brand:hover,.navbar-brand:focus{
			display: block;
			text-align: center;
		}

	}
	.nav-menu{
			margin-left: 0;
			
			li{
				&.active, &:hover, &:focus{
					background: url(../img/nav/line.png) no-repeat bottom center ;

				}
			}
		}
	
} /*  End Small */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 


	/* ================
	*	HEADER
	*  ================ */
	#header{	
		
	

		.navbar-brand,.navbar-brand:hover,.navbar-brand:focus{
		
		    height: 120px;	    
		    width: 140px;
			img{
				width: 120px;
			}
		}
	}


	.nav-menu {
		margin-bottom: 15px;
    	margin-left: 5%;
    	margin-top: 5px;

		li{
			a{
				padding: 10px 15px 12px;
				span{
					
					font-size: 1em;

					&.nav-img{
						img{
						
							max-width: 65px;
						}
					}

					&.nav-name{
						padding-top: 5px;
					}

				}
			}


			&:hover{

				.nav-img{
					
				}

			}
		}
	}

	/* ================
	*	USER NAV
	*  ================ */
	.nav-user{
		margin-top: 30px;
		position: relative;

		.avatar{
			width: 60px;
			height: 60px;
			overflow: hidden;
		}

		.info{			
			font-size: 0.9em;		
		}
	}  

	

	



} /*  End Medium */

@media (min-width: 1024px) { 



}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

	/* ================
	*	HEADER
	*  ================ */
	.nav-menu {
		margin-left: 15.33%;
		position: relative;

		&:after{

		}

	}	
	/* ================
	*	USER NAV
	*  ================ */
	.nav-user{
		margin-top:25px;
		position: relative;
		
		.avatar{
			width: 80px;
			height: 80px;
		}

		.info{			
			font-size: 13px;
			padding-top: 10px;		
		}

		&::before {
		    background: url("../img/leek.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		    height: 190px;
		    left: -40px;
		    position: absolute;
		    top: -10px;
		    width: 20px;
		     -ms-transform: scale(1); /* IE 9 */
		    -webkit-transform: scale(1); /* Safari */
		    transform: scale(1);
		}
	}  

	


} /*  End Large */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1441px) { 
	

	/* ================
	*	HEADER
	*  ================ */
	
	.nav-menu {
		margin-left: 15%;
	}

}

/* ================
*	DEVICES
*  ================ */
