/* ================
*	HOME PAGE
*  ================ */


#welcome{
	.banner{
		figure{
		 	img{		 	
		 		float: left;
		 	}
		}
		&.ani{
		}
	}
}

.layer, .scene {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 100;
}


.layer {
    position: absolute;

}


/* ================
*	SECTION 2: 
*  ================ */

#whatnew{
	background: url(../img/d/bg2.jpg);

	.welcome-user{
		h2{ margin-bottom: 0; line-height: 1 }
		h3{	margin-top: 0;}
	}
}

.book{
	.book-l{
		padding-bottom: 20px;
	}

	.book-r{
		.thumb{
			@include border-radius(8px);
			@include box-shadow(0,0,6px);
		}

		.desc{
			.avatar{
				overflow: hidden;
				float: left;
				margin-right: 10px;
				margin-left: 20px;

				img{
					width: 100%;
				}
			}
			.stat{
				padding-top: 20px;
			}
		}

	}
}



/* ================
*	SECTION 3: 
*  ================ */

#recipeoftheday{

}
.dish-similar{
	padding-top: 40px;

	.action-ft{
		margin-top: -80px;
	}
}



/* ================
*	SECTION 4: 
*  ================ */

#ourfamily{

	background: url(../img/b/homepage-product-section.jpg) no-repeat center center ;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

  	padding: 15% 0;


  	.more{
		/*bottom: 80px;
		position: absolute;
		left: 50%;
		margin-left: -110px;*/
		display: block; 
		width: 250px;
	    margin: 0 auto;
	   
	}

}




/* ================
*	MEDIA QUERIES
*  ================ */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 


	#welcome{
		
		.banner{
			&.ani{
				background: $brown url(../img/b/banner-homepage.jpg) no-repeat center 0px;
				background-size: cover;

				min-height: 500px;
				position: relative;

				img{				
					width: 100%;					
				} 
			}

			.wrapper{
				position: relative;
				


				.items{

					height: 500px;
					margin: 0;
					list-style: none;
					padding: 0;
					

					.chamchut{
						position: absolute;
						width: 510px;
						bottom: 0px;
						left: 50%;
						margin-left: -250px;
						height: 360px;
						
					}


					.bongcai{
						.plain{
							display: block;
						    height: 200px;
						    left:-120px;
						    position: absolute;
						    top: 10%;
						    width: 230px;
						}
					  
					}

					.cachua{
						.plain{
							bottom: -120px;
    						display: block;
						    height: 275px;
						    left: -60px;
						    position: absolute;
						    width: 210px;
    					}
    					
					}

					.nam{
						
						.plain{
							display: block;
					    	height: 165px;
					    	right: 20px;
					    	position: absolute;
					    	top: 10%;
    						width: 180px;
    					}
					}

					
				}
			}
		}
	}







	.book{
		background: url(../img/e/book.png) no-repeat center top ;
		background-size: 97%;
		min-height: 600px;
		z-index: 100;

		.book-l, .book-r{
			float: left;
			width: 48.5%;
		}

		.book-l{
			padding-left: 60px;
    		padding-right: 40px;
    		padding-top: 10%;
			line-height: 2em;
			p{
				font-size: 14px;
			}
			
		}

		.book-r{
			position: relative;


			.img-t{
				
			    position: absolute;
			    right: 10px;
			    top: 90px;
			    width: 330px;
			    z-index: 110;
			    
			}
			

			.dish{
				position: relative;
			     z-index: 10;



				.thumb{
					background: url("../img/e/frame1.png") no-repeat scroll 0 0 / 280px auto rgba(0, 0, 0, 0);
    				border: 0 none;
    				padding: 18px 64px 25px 12px;
					@include border-radius(0px);
					@include box-shadow(0,0,0,0);

				}
			}

			.img-b{
				margin-top: 135px;
				margin-left: 20px;
				/*opacity: 0;*/
			}

			.desc{
				margin-top: -20px;
				padding-right: 30px;

				.name{
					
				}
				.author{
					.avatar{
						width: 50px;
						height: 50px;
						display: block;
						float: left;
						margin-left: 15%;

					}
					.stat{
						margin-top: -8px;
						float: left;
						
					}
					
				}
			}

		}


	}

	.decor2{
		bottom:0px;
		left: 45%;
	}

	.decor3{
		top:150px;
		right: 4%;
		z-index: 0;
	}

	.decor4{
		bottom: -60%;
	    right: 0;
	    width: 120px;
		img{
			width: 100%;
		}
	}

	#whatnew{
		padding-bottom: 80px;
	}


	/* ================
	*	SECTION 4: 
	*  ================ */

	#ourfamily{
		.more{
			
		}
	}		



	
} /*  End Small */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	#welcome{
		
		.banner{

			&.ani{
				min-height: 600px; 
			}

			.wrapper{
				.items{

					height: 600px;
				

					.chamchut{
					
						bottom: 0;
					    height: 495px;
					    left: 50%;
					    margin-left: -250px;
					    width: 700px;
					}


					.bongcai{
						.plain{
							display: block;
						    height: 214px;
						    left:-120px;
						    position: absolute;
						    top: 10%;
						    width: 300px;
						}
					  
					}

					.cachua{
						.plain{
							bottom: -120px;
    						display: block;
						    height: 310px;
						    left: -60px;
						    position: absolute;
						    width: 300px;
    					}
    					
					}

					.nam{
						
						.plain{
							display: block;
					    	height: 254px;
					    	right: 20px;
					    	position: absolute;
					    	top: 10%;
    						width: 240px;
    					}
					}



				}

			}
		}
	}

	
	.welcome-user{
		margin-bottom: 40px;

		h2, h3{
			font-size: 60px;
		}


	}



	.book{
		
		min-height: 670px;

		.book-l{
			padding-left: 70px;
			padding-right: 40px;
			p{
				line-height: 40px;
				font-size: 16px;
			}
			
			.more{
				min-width: 200px;
			}
		
		}

		.book-r {
			.img-t{
					
			    right: 20px;
    			width: 430px;
			}

			.dish{
				.thumb{
					background-size: 360px auto;
					padding: 18px 80px 32px 12px;
    				width: 420px;
    				margin:220px 0 0 20px;
				}
			} 
			.img-b {
			   
			}
			.desc {
			    padding-right: 160px;
			}
		}
	}



	/* ================
	*	DISH
	*  ================ */

	.featured{
		.dish{

			.bg{
				margin-top: 0;
			}

			.thumb{
				max-width: 400px;
				left: -140px;
				top: -30px;
			}
			.desc{
				padding-left: 200px;
				padding-right: 40px;

				.name {
				    font-size: 2.5em;
				    margin-top: 0;
				    margin-bottom: 10px;
				}
			}
		}

			.more{
				width: 150px;
   				display: block;
   				margin: 0 auto;
			}

	}

	
	



	.dish .desc.ext{
		top:-90px;
	}


	#recipeoftheday{
		.action .btnred {
			position:relative;
			z-index:100;
			margin-top: -80px;
		    display: block;
		    width: 220px;
		    margin: -80px auto 10px;
		}

		.section-title{
			margin-bottom: 80px;
		}

		.dish-similar{
			.section-title{
				margin-bottom: 40px;
			}
		}
	}


	#ourfamily{
		
		padding-top:80px;
		min-height: 600px;
	
		.more{
			bottom: 40px;
			position: absolute;
			left: 50%;
			margin-left: -150px;			 
			width: 300px;
		    
		}

	}






} /*  End Medium */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 




	.book{
		background-size: 75%;

		.book-l {
		    padding-left: 200px;
		    padding-right: 30px;
		}
		.book-r {

			.img-t {
			   width: 410px; 
			  right: 140px;  
			}
		}
	}


	/* ================
	*	DISH
	*  ================ */

	.featured{
		.dish{

			.bg{ 
				margin-top: 20px;
				padding: 45px 40px;
			}
		}
	}

	
	#ourfamily{
		
	
		
	}



	.decor4 {
	    bottom: -30px;
	   
	}


	
} /*  End Large */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1441px) { 
	
	

	.decor2 {
	    bottom: 6px;
	    left: 45%;
	    transform: scale(0.8);
	}





}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1920px) { 
	
	


}

/* ================
*	DEVICES
*  ================ */
