/* ================
*	FOOTER
*  ================ */


#newslist{

	.post{

	}

}

.post-content{
	a{
		color: $red;
	}
}


/* ================
*	MEDIA QUERIES
*  ================ */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

	
} /*  End Small */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	#newslist{

		padding-top:120px;		

		.post{

			margin-bottom: 150px;

			.thumb{
				float: left;
				width: 340px;
				-ms-transform: rotate(-8deg); /* IE 9 */
				-webkit-transform: rotate(-8deg); /* Safari */
				transform: rotate(-8deg);		
				left: -15px;
			    position: absolute;
			    top: -15px;
				
				img{
					border-width: 10px;
				}
			}

			.content{
				background: url(../img/d/giay.png) repeat-y top right;
				padding:35px 60px 35px 350px;
				@include box-shadow(5px,5px,5px,rgba(0,0,0,0.1));

				.title{
					font-size:40px;
					line-height:1.1;
					margin-top:0;
				}
			}


			&.alternate{

				.thumb{
					float: right;
					left: auto;
					right: -20px;
				    position: absolute;
				    top: -20px;	
				    -ms-transform: rotate(8deg); /* IE 9 */
					-webkit-transform: rotate(8deg); /* Safari */
					transform: rotate(8deg);					
				}

				.content{
					background: url(../img/d/giayvang.png) repeat-y top left;
					padding: 35px 350px 35px 60px;
				}

			}


		}


		.pin{
			background: url(../img/e/pin2.png) no-repeat 0 0;
			height: 100px;
		    left: 115px;
		    position: absolute;
		    top: -54px;
		    width: 60px;
		    z-index: 160;
		    -ms-transform: scale(0.6); /* IE 9 */
		    -webkit-transform: scale(0.6); /* Safari */
		    transform: scale(0.6);				
		}



	}

	.action-move-up{
		margin-top: -40px;
	}



} /*  End Medium */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

	
} /*  End Large */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1441px) { 
	

}

/* ================
*	DEVICES
*  ================ */
