/* ================
*	RECIPE
*  ================ */
#recipes-list{
	z-index: 100;

}


#rec-detail{
	.recipe-title{
		padding-bottom: 20px;
	}

	.block{
		h3{

			font-size: 30px;
			padding-left: 40px;

			&.ic-ing{
				background: url("../img/d/ic-ing.png") no-repeat center left;
			}
			&.ic-ins{
				background: url("../img/d/ic-ins.png") no-repeat center left;
			}

			&.ic-tip{
				background: url("../img/d/ic-tip.png") no-repeat center left;
			}
		}
	}


	.featured {

		.dish {
			.desc {
				.author{
					font-size: 1.5em;
				}
			}

			.meta{
				color: $brown-dark;
			}
		}

		.more{
			width: auto;
			display: inline-block;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}


.recipe{
	.filter-section{

	.filter{
		padding-top: 40px;

		p{
			text-transform: uppercase;
			font-size: 18px;
			position: relative;

			&:after{
				content:'';
				height: 1px;
				background: $red;
				width: 200px;
				position: absolute;
				bottom: -5px;
				left: 50%;
				margin-left: -100px;
			}
		}
	}


	ul{
		overflow: hidden;
		margin-top: 20px;
	}

	li{

		display: inline-block;
		width: 60px;
		height: 110px;
		text-align: center;
		vertical-align: top;



		a{
			display: block;
			line-height: 1.2;
		}

		.icon{
			display: block;
			width: 60px;
			height: 60px;
			margin: 0 auto;

			&.ic-all{
				background: url(../img/f/tatca.png) no-repeat 0 0;
			}

			&.ic-canh{
				background: url(../img/f/canh.png) no-repeat 0 0;
			}

			&.ic-xao{
				background: url(../img/f/xao.png) no-repeat 0 0;
			}

			&.ic-man{
				background: url(../img/f/man.png) no-repeat 0 0;
			}

			&.ic-chay{
				background: url(../img/f/chay.png) no-repeat 0 0;
			}

			&.ic-tuan{
				background: url(../img/f/tuan.png) no-repeat 0 0;
			}

			&.ic-sot{
				background: url(../img/f/cham.png) no-repeat 0 0;
			}

			&.ic-khac{
				background: url(../img/f/khac.png) no-repeat 0 0;
			}


		}


		&:hover, &.active{
			a{
				color: $red;

			}

			.icon{	

				&.ic-all{
					background-position: 0 -60px ;
				}

				&.ic-canh{
					background-position: 0 -60px ;
				}

				&.ic-xao{
					background-position: 0 -60px ;
				}

				&.ic-man{
					background-position: 0 -60px;
				}

				&.ic-chay{
					background-position: 0 -60px;
				}

				&.ic-tuan{
					background-position: 0 -60px;
				}

				&.ic-sot{
					background-position: 0 -60px;
				}

				&.ic-khac{
					background-position: 0 -60px ;
				}

			}

		}


	}
}
}









/* ================
*	MEDIA QUERIES
*  ================ */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	#rec-detail{
		.featured{
			.dish{

				.desc {
					 padding-left: 180px;
					.author{
						font-size: 1.5em;
					}
				}

				.more{
					margin-bottom: 10px;
				}
			}
		}




	}


	
	#instruction{
		margin-top: 40px;
	}
	.recipe{
		.filter-section{
			li{
				width: 80px;
				text-align: center;
			}
		} 
	}

	#recipes-list{
		min-height: 600px;
	}

	

} /*  End Small */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	.message{
		top: 20%;
	}

	
	.recipe-title{
		h2{
			
		}
		a{
			display: inline-block;
			color: $yellow;
			font-size: 20px;
			border-bottom: 1px solid $yellow;
		}

		&.decor h2{
			background:url(../img/d/rb.png) no-repeat center center;
			padding-top: 72px;

			span{
				font-size: 55px;
			}
		}
	}

	.chrome{
		.recipe-title{
			&.decor h2{
				padding-top: 60px;
			}
		}
	}


	#rec-detail{
		.section-title{
			padding-bottom: 60px;
		}

		.featured{
			.dish{

			 	.pin{
			 		-ms-transform: scale(0.6); /* IE 9 */
					-webkit-transform: scale(0.6); /* Safari */
					transform: scale(0.6);	
					top: -62px;
			 	}
			 	.bg {
				    padding: 45px 40px;
				}

				.thumb{
					max-width: 360px;
				}
			 }

			.more{
				padding-left: 10px;
				padding-right: 10px;
				&:first-child{
					margin-right:10px;
				}
			}

		}

	}




} /*  End Medium */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

	
} /*  End Large */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1441px) { 
	

}

/* ================
*	DEVICES
*  ================ */
