body {
	
	color: $brown-dark;
	font-size:16px;
	font-family: 'Roboto Slab', serif;
	padding-top: 0px;
}

html,body{
	height:100%;
}


h1, .h1, h2, .h2, h3, .h3, h4, h5,h6{
	font-family: 'utm_bebasregular', sans-serif ;
	line-height: 1.5;
	color: $red;
	letter-spacing: 1px;
	text-transform: uppercase;
}

*, a, a:active, a:focus, a:hover{
	outline: 0 none;
	text-decoration: none;
}

@font-face {
    font-family: 'amatic';
    src: url('../fonts/amatic-bold_1-webfont.eot');
    src: url('../fonts/amatic-bold_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/amatic-bold_1-webfont.woff2') format('woff2'),
         url('../fonts/amatic-bold_1-webfont.woff') format('woff'),
         url('../fonts/amatic-bold_1-webfont.ttf') format('truetype'),
         url('../fonts/amatic-bold_1-webfont.svg#amaticcondensed_bold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'utm_bebasregular';
    src: url('../fonts/utm_bebas-webfont.eot');
    src: url('../fonts/utm_bebas-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/utm_bebas-webfont.woff2') format('woff2'),
         url('../fonts/utm_bebas-webfont.woff') format('woff'),
         url('../fonts/utm_bebas-webfont.ttf') format('truetype'),
         url('../fonts/utm_bebas-webfont.svg#utm_bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}





.amatic{
	font-family: 'utm_bebasregular', sans-serif ;
}

.roboto{
	font-family: 'Roboto Slab', serif;
}

/* ================
*	COMMON
*  ================ */

.section{
	padding: 50px 0;

	&.p0{
		padding: 0;
	}

	&.pt0{
		padding-top: 0;
	}

	&.pb0{
		padding-bottom: 0;
	}


	&.narrow{
		padding: 40px 0;
	}


	&.section-top{
		margin-top: -5px;
	}


	.section-title{
		padding-bottom: 30px;

		h2, h3{
			margin: 0;
		}
	}

	.section-header{

	}
	
}



.animate-mg{
	top:50px;
	position: relative;
}



.pattern1{
    background: url("../img/d/bg4.jpg") repeat fixed center top rgba(0, 0, 0, 0);	
}

.pt1{ background-image: url(../img/d/pt1.png);  background-repeat: no-repeat; background-position: center center; }
.pt2{ background-image: url(../img/d/pt2.png);  background-repeat: no-repeat; background-position: center center; }
.pt4{ background-image: url(../img/d/pt4.png);  background-repeat: no-repeat; background-position: center center; }


.vang{
	background: url(../img/d/vang.jpg) repeat ;
}
.kem{
	background: url(../img/d/kem.jpg) repeat ;
}



.relative{
	position: relative;
}
.absolute{
	position: absolute;
}


.ele{
	position: absolute;
	&.zfront{
		z-index: 110;
	}
	&.zbehind{
		z-index: -1;
	}
}



.mm-page{
	overflow: hidden;
}


.rotateA8{
	-webkit-transform: rotate(-8deg);
	/* Firefox */
	-moz-transform: rotate(-8deg);
	/* IE */
	-ms-transform: rotate(-8deg);

	/* Opera */
	-o-transform: rotate(-8deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.more{
	background: $red;
	display:inline-block;
	color: $yellow;
	font-size: 25px;
	/*height: 40px;*/
	line-height: 40px;
	margin: 5px;
	min-width: 100px;
    padding: 10px 30px 5px ;
    border: 1px solid $red;
	@include border-radius(8px);
	text-align: center;
	vertical-align:baseline;
	white-space: nowrap;

	&:hover, &:focus{
		color:$yellow;
	}

}

.chrome{
	.more{
		padding-top: 2px;
	}
}

.btn{
	&.more{
		color: $yellow;
		padding-left: 40px;
		padding-right: 40px;

		&:hover, &:focus{
			background:$red;
		}
	}
}

.loadmore{
	color: $red;
	text-align: center;
	font-size: 16px;
	text-decoration: underline;
	padding-bottom: 3px;
}

.back{
	top: 40px;
	left: 5%;
	z-index: 10;

}

.text-red{
	color: $red;
}

.text-yellow{
	color: $yellow;
}

.line-b{
	background: url(../img/e/line-b.png) no-repeat bottom center;
	padding-bottom: 10px;
}

.line-r{
	background: url(../img/e/line-r.png) no-repeat bottom center;
	padding-bottom: 10px;
}

.break{
	background: url(../img/d/line2.png) no-repeat bottom center;
	height: 5px;
    margin-bottom: 60px;
}


.loading{
	background:url('../img/bx_loader.gif') no-repeat center center;
}

.header-banner{
	background: #fff;
}



.editRec{
	background: url(../img/d/edit.png) no-repeat left center;
	padding-left: 30px;
	font-size: 20px;
	margin: 0 20px;
	color: #603813;
}	

.delRec{
	background: url(../img/d/delete.png) no-repeat left center;
	padding-left: 30px;
	font-size: 20px;
	color: #603813;
}



.load-bg{
	background: url(../img/bx_loader.gif ) rgba(255, 255, 255, 0.5) no-repeat scroll center center;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 100%;
    z-index: 1000;

    img{
    	width: 40px;
    	height:40px;
    	margin: 0 auto;
    }

}







.css-input {
    background-color: $yellow;
    border-color: #a68522;
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    height:60px;
   
    @include box-shadow(0,0,6px,rgba(233, 214, 3, 0.94),inset);
    font-size: 16px;
    padding: 15px;
}


.fb-login a {
    background: url("../img/d/btnFB.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    display: block;
    height: 60px;
    margin: 0 auto;
    text-indent: -9999px;
    width: 210px;
}

.modal-content{
	background: $yellow;

	.modal-title{
		font-size: 30px;
	}

	.fb-login{
		margin-top: 30px;
	}
}

.modal-header, .modal-footer{
	border: 0;
}

.modal{
	.btn{
		border: 0;
	}
}


#meter1, #meter2{
	margin-top: 10px;
	.entropizer-track {
	    background-color: #efefef;
	    @include border-radius(4px);
	    height: 8px;
	   overflow: visible;
	}

	.entropizer-bar {
		@include border-radius(4px);
	    height: 8px;
	}
	.entropizer-text{
		
		color: $color;
		top: 5px;
		font-family: 'Roboto Slab', serif;
		font-size: 10px;
    	text-transform: lowercase;
    	letter-spacing: 0;
    	text-align: left;
	}
}



/* ================
*	SLICK SLIDER
*  ================ */

.slick-prev, .slick-next{
	
	width:40px;
	height: 40px;
	margin-top: -100px;
	&::before{
		font-size:40px;
		color: $red;
		 opacity: 1;
	}

}




/* ================
*	DISH
*  ================ */

.dish{
	.thumb{
		overflow: hidden;
		margin:0 auto 20px;
		
		position: relative;
		z-index: 10;


		img{ width: 100%;  }

		&.extra{
			@include border-radius(8px);
			@include box-shadow(0,0,6px);
		}
	}

	.author{
		span{
			text-transform: uppercase;
		}
	}

	.avatar{
		display: inline-block;
		margin-right: 10px;
		@include border-radius(50%);
		width: 80px;
		height: 80px;
		margin-left: 15px;
		border:3px solid $yellow;
	}

	.name{
		font-size: 20px;

		a{
			color: $red;
		}
	}

	.stat{
		padding-top: 10px;

		p{
			margin: 0;
			span{
				font-size: 14px;
			}
		}
	}

	.action{
		margin-top: 20px;
	}

	.rating{
		color: $red;
	}

	.desc{
		&.ext{
			background: rgba(255,255,255,0.8);
			@include border-radius(8px);
			padding: 70px 20px 20px;
			position: relative;
			z-index: 0;
			top: -100px;
			margin: 0 10px;
		}
	}


	&.inactive{
		.thumb{
			opacity: 0.8
		}
	}


}





/* ================
*	SECTIONS: BANNER
*  ================ */
.bg-image{
	position: relative;
	img {
	  
	    width: 100%;
	    max-width: 1920px; /* corresponds to max height of 450px */
	    margin: 0 auto;
	}
}

.message{
	text-align: center;
	padding-bottom: 30px;
}





.filter-section{
	background: url(../img/d/kem.jpg) repeat 0 0;
	padding-top: 40px;
	padding-bottom: 40px;

	.title{
		position: relative;
		padding-bottom: 10px;

		p{
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 300;
		}

		&:after{

			background: $red;
			content: '';
			height: 1px;
			width: 100px;
			position: absolute;
			left: 50%;
			margin-left: -50px;
			bottom: 10px;

		}

	}

	.filter{
		.btn-link{
			color: $brown-dark;
			text-transform: uppercase;
			line-height: 30px;
			padding-left: 15px;
			padding-right: 15px;
			font-size: 16px;

			border-right:1px solid $brown-dark;



			&.active, &:hover, &:focus{
				color: $red;
				text-decoration: none;
			}

			&.last, &:last-child{
				border: 0;
			}
		}
	}

}


/* ================
*	POST
*  ================ */

.break{
	margin-top: 40px;
	margin-bottom: 40px;
}

.post{
		
		margin-bottom: 40px;

		.thumb{
			img{
				border: 5px solid #fff;
				@include border-radius(8px);
				@include box-shadow(0,0,6px);
			}
			
		}

		.mark2{
			visibility: hidden;
		}
		
	&.video{
		.mark2{
			position: absolute;
			width: 60px;
			height: 60px;
		 	bottom: 15px;
		 	font-size: 50px;
		 	left: 50px;
		 	margin-left: -30px;
		 	color: $red;
		 	visibility: visible;
		}
	}	
}

.d{
		background: url("../img/d/bgkem-1.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	    height: 10px;
	    left: 0;
	    bottom: -4px;
	    width: 100%;
	    z-index: 0;
	    position: absolute;
	}

.db{
	background: url("../img/d/bgvang-1.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 10px;
    left: 0;
    top: -4px;
    width: 100%;
    z-index: 0;
    position: absolute;
}

.dbd{
	background: url("../img/d/bgvangtexture.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 10px;
    left: 0;
    top: 0px;
    width: 100%;
    z-index: 0;
    position: absolute;
}

.d1{

	left: 0;
	position: absolute;
	top: 300px;
	width: 200px;

	img{
		width: 100%;
	}
}


.d2{
	right: 0;
	position: absolute;
	top: 100px;
	width: 200px;

	img{
		width: 100%;
	}
}

.d3{
	right: 0;
	position: absolute;
	top: 100px;
	width: 200px;

	img{
		width: 100%;
	}
}

.d5{

	left: 0;
	position: absolute;
	bottom: 100px;
	width: 200px;

	img{
		width: 100%;
	}
}

.d4{
	right: 0;
	position: absolute;
	top: 100px;
	width: 160px;

	img{
		width: 100%;
	}
}

.d6{

	left: 0;
	position: absolute;
	top: 250px;
	width: 220px;

	img{
		width: 100%;
	}
}


.d7{

	left: 0;
	position: absolute;
	top: -100px;
	width: 180px;
	z-index: 1;

	img{
		width: 100%;
	}
}

.d8{

	right: 0;
	position: absolute;
	top: 200px;
	width: 180px;
	z-index: 1;

	img{
		width: 100%;
	}
}

.d10{

	left: 40px;
	position: absolute;
	bottom: 250px;
	width: 180px;
	z-index: 1;

	img{
		width: 100%;
	}
}

.d11{

	left: 68%;
    margin-left: -100px;
    position: absolute;
    top: 70px;
    width: 200px;
    z-index: 30;


	img{
		width: 100%;
	}
}


.d12{

	left: -50px;
    position: absolute;
    top: -40px;
    width: 220px;
    z-index: 0;

	img{
		width: 100%;
	}
}


.d13{

	right: 0px;
   
    position: absolute;
    top: 350px;
    width: 200px;
    z-index: 0;


	img{
		width: 100%;
	}
}




/* ================
*	FITER SEARCH
*  ================ */

.filter-search{

	margin-bottom: 40px;

	.form-group{
		text-align: center;
		overflow: hidden;
		border: 1px solid $brown-dark;
		background: $yellow;

		@include border-radius(5px);

		.form-control{
			display: block;
		    float: left;
		    width: 80%;
		    border:0;
		    background: transparent;
		}

		.btn{
			border:0;
		    background: transparent;
			float: right;
			border-left: 1px solid $brown-dark;
			@include border-radius(0px);
			
		}

	}
}





.file-upload{
	padding: 20px 0;
}


.thumbn{
	@include border-radius(50%);
	border: 5px solid $yellow;
	width: 120px;
	height: 120px;
	margin: 0 auto;
}

/* ================
*	MEDIA QUERIES
*  ================ */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

body{
	padding-top: 90px;
}	

.section-title{
	.big{
		font-size: 4em;
	}
}


/* ================
*	DISH
*  ================ */

.featured{

		margin-bottom: 60px;

			.dish{

				.thumb{
					border: 15px solid #fff;
					overflow: visible;

					-webkit-transform: rotate(-8deg);
					/* Firefox */
					-moz-transform: rotate(-8deg);
					/* IE */
					-ms-transform: rotate(-8deg);
					/* Opera */
					-o-transform: rotate(-8deg);
					/* Internet Explorer */
					position: absolute;
					top: -20px;
					left: 0px;
					max-width: 300px;
				}

				.pin{
						background: url(../img/e/pin2.png) no-repeat 0 0;
						height: 100px;
					    left: 150px;
					    position: absolute;
					    top: -66px;
					    width: 60px;
					    z-index: 160;
					    -ms-transform: scale(0.6); /* IE 9 */
					    -webkit-transform: scale(0.6); /* Safari */
					    transform: scale(0.6);				
				}

				.desc{
					padding-left: 230px;
					text-align: left;

					.name {
						font-size: 2em;
						margin-top: 0;
						line-height: 1.1;
					}

					.rating{
						color: $red;
					}

					.avatar{
						float: left;
						width: 100px;
						height: 100px;
						overflow: hidden;
						margin-left: 0;
						
					}

					.author{
						font-size: 1em;
						text-align: left;
						padding-top: 10px;
					}

				}


				.bg{
					background: url(../img/d/giay.png) repeat-y top right;
					padding: 40px;
					margin-left: 80px;
				/*	@include border-radius(20px);*/
					@include box-shadow(0,5px,5px,rgba(0, 0, 0, 0.1) );

				}

				.meta{
					color: $red;
				}

				.action{
					&.ext{
						text-align: right;
						padding-right: 20px;
					}
				}

			}
		}



/* ================
*	SIMILAR
*  ================ */

.dish-similar{

	.section-title {
	  
	    margin-bottom: 40px;
	    padding-bottom: 0;
	}

	.slick-dishes{
		.item {
		    margin: 20px 10px 40px;
		}

	} 
	
}




/* ================
*	BANNER
*  ================ */
.header-banner{
	position: relative;
	
}

.message{

	height: 240px;
	padding: 40px 0px 0px;
	width: 700px;
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -350px;
	font-size:1.167em;
	

	
	.title{
		font-size: 2.5em;
		margin-top: 0;
	}

	&.bt{
		top: auto;
		bottom: 60px;
	}
}




.filter-section{
	.title{
		margin-bottom: 20px;
		p{
			font-size: 15px;		
		}

	
	}

	.filter{
		.btn-link{
			
			font-size: 40px;
    		line-height: 70px;

			&.active, &:hover, &:focus{
				
			}

			
		}
	}

}








	
} /*  End Small */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

body{
	padding-top:130px;
}
	

.more{
	&.bigger{
		font-size: 35px;
		line-height: 70px;
		
	}
}
		



	.section-title{
		&.decor{
			h2{
						

				    background: rgba(0, 0, 0, 0) url("../img/d/redbox.png") no-repeat scroll center top;
				    display: block;
				    height: 164px;
				    margin: 0 auto;
				    padding-top: 40px;
				    text-align: center;
				    width: 671px;
				    background-size: 560px;
				


				span{
					
				    color: $yellow;
				    display: block;
				    font-size: 60px;
				   
				}
			}
		}
	}


	

	.brek{
		display: none;
	}


	.recipe-title{
		&.decor{
			h2{
				background: url("../img/d/redbox.png") no-repeat scroll 0 0;
				text-align: center;	
				display: block;
			    height: 210px;
			    text-align: center;
			    width: 671px;
			    padding-top: 55px;
			    margin: 0 auto;			
				

				span{
					
				    color: $yellow;
				    display: block;
				    font-size: 60px;
				   
				}
			}
		}
	}


	.filter-section{
		
		.filter{
			.btn-link{				
				font-size: 60px;	    		
			}
		}

		.title{
			
			p{
				font-size: 20px;		
			}
		}


	}


	


	/* ================
*	DISH
*  ================ */

.dish{
	.name{
		font-size: 25px;
	}
}

.slick-next {
    right: -65px;
}

.slick-prev {
    left: -85px;
}

.slick-next, .slick-prev {
  width: 60px;
  height: 60px;
  
 }

.slick-next::before, .slick-prev::before {
   
    font-size: 60px;
   
}







} /*  End Medium */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

	

} /*  End Large */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1441px) { 
	

}

/* ================
*	DEVICES
*  ================ */



