/* ================
*	USER MY ACCOUNT
*  ================ */

.user-info{
	padding: 20px;
	
	.user-avatar{
		width: 120px;
		height: 120px;
		@include border-radius(50%);
		border: 5px solid $yellow;
		margin: 0 auto;
    	overflow: hidden;
    
	}

	.user-content{
		text-align: center;
	}

	.user-stat{
		margin-bottom: 20px;

		span{
			display: block;
		}
	}
}



/* ================
*	USER MY ACCOUNT
*  ================ */

/* ================
*	MEDIA QUERIES
*  ================ */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

	.user-info{
		left: 50%;
	    margin-left: -300px;
	    position: absolute;
	    top: 20px;
	    width: 600px;
	    z-index: 100;

	    .user-avatar{
	    	float: left;
	    	margin-right: 10px;
	    	width: 150px;
	    	height: 150px;
	    	margin-top: 20px;
	    	margin-left: 60px;
	    }

	    .user-stat{color: $brown-dark;
	    	span{
	    		display: inline-block;
	    		padding-right: 5px;
	    		


	    		&:first-child{
	    			border-right:1px solid $brown-dark;
	    		}
	    	}
	    }

	    .user-content{
	    	text-align: left;

	    	h4{
	    		font-size: 40px;
	    		margin: 30px 0 0;
	    	}
	    }


	    .btn.more {
		    padding-left: 15px;
		    padding-right: 15px;
		    font-size: 16px;
		    padding-top: 5px;
		    padding-bottom: 5px;
		    line-height: 35px;
		}

	}
	
} /*  End Small */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 


	.user-info{
	
	    margin-left: -350px;	
	    top: 20%;
	    width: 700px;
	   

	    .user-avatar{
	    	
	    }

	   	.user-stat{
	   		span{
	   			font-size: 16px;
	   			padding: 0 5px;
	   		}
	   	}

	    .user-content{
	    	
	    	h4{
	    		font-size: 50px;
	    	}
	    }


	   

	}

} /*  End Medium */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

	
} /*  End Large */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1441px) { 
	

}

/* ================
*	DEVICES
*  ================ */
